# Data Tables

This section covers so-called **data tables**. They provide an overview for certain topics in tabular form.

In [1]:
import fxcmpy
import pandas as pd
import datetime as dt
con = fxcmpy.fxcmpy(config_file='fxcm.cfg')

## Account Information

The `con.get_accounts()` method shows **meta information** for the default or multiple accounts.

In [8]:
con.get_accounts().T

                          0
accountId           2815291
accountName        02815291
balance              505583
dayPL              -419.488
equity               505539
grossPL            -43.3377
hedging                   N
mc                        N
mcDate
ratePrecision             0
t                         6
usableMargin         503139
usableMargin3        503139
usableMargin3Perc   99.5253
usableMarginPerc    99.5253
usdMr                  2400
usdMr3                 2400

## Offers

The `fxcm` connection object provides a number of methods to fetch **current data** from the API.

The `con.get_offers()` method retrieves and displays a table with current **offers**.

In [2]:
con.get_offers(kind='dataframe')

,buy,buyTradable,currency,defaultSortOrder,emr,fractionDigits,high,instrumentType,lmr,low,...,ratePrecision,rollB,rollS,sell,sellTradable,spread,t,time,valueDate,volume
0,1.19263,True,EUR/USD,100,0,5,1.19769,1,0,1.19144,...,5,-0.891,0.430,1.19240,True,2.3,0,+049994-10-22T06:53:50.000Z,01112018,1.00000
1,112.51100,True,USD/JPY,200,0,3,113.19300,1,0,112.35600,...,3,0.305,-0.667,112.48900,True,2.2,0,+049994-10-22T07:34:09.000Z,01112018,1.00000
2,1.35188,True,GBP/USD,300,0,5,1.35837,1,0,1.35044,...,5,-0.587,0.272,1.35166,True,2.2,0,+049994-10-22T07:38:53.000Z,01112018,1.00000
3,0.98288,True,USD/CHF,400,0,5,0.98432,1,0,0.97636,...,5,0.425,-1.016,0.98264,True,2.4,0,+049994-10-22T08:00:31.000Z,01112018,1.00000
4,1.17206,True,EUR/CHF,500,0,5,1.17376,1,0,1.16831,...,5,0.038,-0.172,1.17182,True,2.4,0,+049994-10-22T08:00:28.000Z,01112018,1.01755
5,0.78255,True,AUD/USD,600,0,5,0.78658,1,0,0.78064,...,5,0.068,-0.166,0.78232,True,2.3,0,+049994-10-22T07:13:54.000Z,01112018,1.00000
6,1.24594,True,USD/CAD,700,0,5,1.24793,1,0,1.23970,...,5,0.092,-0.339,1.24570,True,2.4,0,+049994-10-22T07:32:52.000Z,01112018,1.00000
7,0.71840,True,NZD/USD,800,0,5,0.71985,1,0,0.71615,...,5,0.066,-0.194,0.71816,True,2.4,0,+049994-10-22T06:46:27.000Z,01112018,1.00000
8,0.88230,True,EUR/GBP,900,0,5,0.88353,1,0,0.88078,...,5,-0.447,0.183,0.88206,True,2.4,0,+049994-10-22T06:45:46.000Z,01112018,1.35157
9,134.16900,True,EUR/JPY,1000,0,3,135.49100,1,0,134.04100,...,3,-0.143,0.042,134.14400,True,2.5,0,+049994-10-22T07:32:42.000Z,01112018,0.00889
10,152.09200,True,GBP/JPY,1100,0,3,153.59800,1,0,151.92400,...,3,0.144,-0.333,152.05600,True,3.6,0,+049994-10-22T07:32:53.000Z,01112018,0.00889
11,88.03700,True,AUD/JPY,1700,0,3,88.86100,1,0,87.85300,...,3,0.312,-0.680,88.01100,True,2.6,0,+049994-10-22T07:30:39.000Z,01112018,0.00889
12,1.72783,True,GBP/AUD,2200,0,5,1.73178,1,0,1.72400,...,5,-0.826,0.367,1.72749,True,3.4,0,+049994-10-22T07:40:07.000Z,01112018,0.78244
13,6.53290,True,USD/CNH,799,0,5,6.53914,1,0,6.49548,...,5,-0.702,0.192,6.53201,True,8.9,0,+049994-10-22T07:42:35.000Z,,1.00000
14,5517.80000,True,FRA40,100300,0,2,5525.50000,2,0,5480.50000,...,2,-0.050,-0.040,5516.80000,True,1.0,0,+049994-10-22T07:42:19.000Z,01112018,1.19239
15,13377.24000,True,GER30,100400,0,2,13427.75000,2,0,13356.05000,...,2,-0.120,-0.100,13376.36000,True,0.9,0,+049994-10-22T07:33:26.000Z,01112018,1.19239
16,7718.00000,True,UK100,101200,0,2,7733.00000,2,0,7707.30000,...,2,-0.100,-0.040,7717.00000,True,1.0,0,+049994-10-22T07:54:46.000Z,01112018,1.35157
17,25390.50000,True,US30,101300,0,2,25398.10000,2,0,25262.50000,...,2,-0.330,-0.020,25388.50000,True,2.0,0,+049994-10-22T07:49:06.000Z,01112018,1.00000
18,11886.00000,True,USDOLLAR,105800,0,0,11897.00000,7,0,11856.00000,...,0,0.140,-0.360,11884.00000,True,2.0,0,+049994-10-22T06:44:10.000Z,,1.00000
19,1311.99000,True,XAU/USD,400100,0,2,1321.58000,5,0,1308.76000,...,2,-0.010,0.000,1311.60000,True,39.0,0,+049994-10-22T07:56:10.000Z,01112018,1.00000
20,17.00200,True,XAG/USD,400200,0,3,17.18000,5,0,16.89400,...,3,-0.010,-0.002,16.95900,True,4.3,0,+049994-10-22T07:55:12.000Z,01112018,1.00000

## Open Positions

The `con.get_open_positions()` method retrieves and shows the **open positions** for the default account.

In [3]:
con.get_open_positions(kind='list')

[{'accountId': '2815291',
  'accountName': '02815291',
  'amountK': 100,
  'close': 1.19273,
  'com': 0,
  'currency': 'EUR/USD',
  'currencyPoint': 10,
  'grossPL': -43,
  'isBuy': False,
  'isDisabled': False,
  'limit': 0,
  'open': 1.1923,
  'ratePrecision': 5,
  'roll': 0,
  'stop': 0,
  'stopMove': 0,
  't': 1,
  'time': '01092018164717',
  'tradeId': '95985733',
  'usedMargin': 1400,
  'valueDate': '',
  'visiblePL': -4.3},
 {'accountId': '2815291',
  'accountName': '02815291',
  'amountK': 100,
  'close': 112.49,
  'com': 0,
  'currency': 'USD/JPY',
  'currencyPoint': 8.88881,
  'grossPL': -9.77865,
  'isBuy': True,
  'isDisabled': False,
  'limit': 0,
  'open': 112.501,
  'ratePrecision': 3,
  'roll': 0,
  'stop': 0,
  'stopMove': 0,
  't': 1,
  'time': '01092018164750',
  'tradeId': '95985755',
  'usedMargin': 1000,
  'valueDate': '',
  'visiblePL': -1.1}]

## Closed Positions

Similarly, the `con.get_closed_positions()` method retrieves and presents the **closed positions**.

The parameter `kind` has to be `dataframe` (default) or `list`.

In [6]:
con.get_closed_positions(kind='dataframe').T

,0,1,2,3,4,5
accountName,02815291,02815291,02815291,02815291,02815291,02815291
amountK,77,23,123,1000,500,123
close,1.19239,1.19239,1.19242,112.942,112.942,1.19372
closeTime,01092018164700,01092018164700,01092018164508,01092018090726,01092018090726,01092018090725
com,0,0,0,0,0,0
currency,EUR/USD,EUR/USD,EUR/USD,USD/JPY,USD/JPY,EUR/USD
currencyPoint,7.7,2.3,12.3,88.8905,44.4452,12.3
grossPL,-16.94,-5.52,-30.75,-194.79,-97.4,-30.75
isBuy,False,False,False,True,True,False
open,1.19217,1.19215,1.19217,112.964,112.964,1.19347
openTime,01092018164500,01092018164619,01092018164500,01092018090722,01092018090722,01092018090721
ratePrecision,5,5,5,3,3,5
roll,0,0,0,0,0,0
t,2,2,2,2,2,2
tradeId,143915603,95985636,95985496,95905933,95905927,95905921
valueDate,,,,,,
visiblePL,-2.2,-2.4,-2.5,-2.2,-2.2,-2.5

## Open Orders

**Open orders** are retrieved via `con.get_orders()`.

In [7]:
con.get_orders().T

,0,1,2,3
accountId,2815291,2815291,2815291,2815291
accountName,02815291,02815291,02815291,02815291
amountK,123,123,123,123
buy,110,110,110,110
currency,USD/JPY,USD/JPY,USD/JPY,USD/JPY
currencyPoint,10.9339,10.9339,10.9339,10.9339
expireDate,,,,
isBuy,True,True,True,True
isELSOrder,False,False,False,False
isEntryOrder,True,True,True,True
isLimitOrder,True,True,True,True
isNetQuantity,False,False,False,False
isStopOrder,False,False,False,False
limit,112,112,112,112
limitPegBaseType,-1,-1,-1,-1
limitRate,112,112,112,112
ocoBulkId,0,0,0,0
orderId,94110644,95845790,95948022,95841449
range,0,0,0,0
ratePrecision,3,3,3,3
sell,0,0,0,0
status,1,1,1,1
stop,0,0,0,0
stopMove,0,0,0,0
stopPegBaseType,-1,-1,-1,-1
stopRate,0,0,0,0
t,3,3,3,3
time,12132017082534,01082018154949,01092018134122,01082018151410
timeInForce,GTC,GTC,GTC,GTC
tradeId,94110645,95845791,95948023,95841450
type,LE,LE,LE,LE

## Summaries

A **summary** can be created over all open or closed positions, over an account or over "everything".

In [9]:
con.get_open_positions_summary().T

                     0
accountId
accountName
amountK            200
close                0
com                  0
currency
currencyPoint        0
grossPL       -45.0055
isBuy            False
isDisabled       False
isTotal           True
limit                0
open                 0
ratePrecision        0
roll                 0
stop                 0
stopMove             0
t                    1
time              None
tradeId
usedMargin           0
valueDate
visiblePL         -4.8

In [10]:
con.get_closed_positions_summary().T

                    0
accountName
amountK          1846
close               0
closeTime        None
com                 0
currency
currencyPoint       0
grossPL       -376.15
isBuy           False
isTotal          True
open                0
openTime         None
ratePrecision       0
roll                0
t                   2
tradeId
valueDate
visiblePL         -14

In [11]:
con.get_accounts_summary().T

                         0
accountId
accountName
balance             505583
dayPL             -418.598
equity              505540
grossPL           -42.4484
hedging
isTotal               True
mc
mcDate                None
ratePrecision            0
t                        6
usableMargin        503140
usableMargin3       503140
usableMargin3Perc  99.5253
usableMarginPerc   99.5253
usdMr                 2400
usdMr3                2400

In [12]:
con.get_summary().T

                      0        1
amountK            -100      100
amountKBuy            0      100
amountKSell         100        0
avgBuy                0  112.501
avgSell          1.1923        0
closeBuy        1.19256        0
closeSell             0  112.475
currency        EUR/USD  USD/JPY
currencyPoint       -10  8.89003
grossPL             -26 -23.1163
isBuyDisabled      True    False
isSellDisabled    False     True
netLimit              0        0
netPL               -26 -23.1163
netStop               0        0
netStopMove           0        0
offerId               1        2
plBuy                 0 -23.1163
plSell              -26        0
ratePrecision         5        3
rollSum               0        0
t                     5        5
usedMargin         1400     1000
usedMarginBuy         0     1000
usedMarginSell     1400        0